

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); /* dark gradient */
  color: white;
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px white; /* makes header pop */
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-shadow: 1px 1px 4px white;
}

button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}
button:hover{
transform:scale(1.05);    
}
#startBtn{
background:#b58af5;
color:white;
}

#stopBtn{
background:#e68ee4;
color:white;
}

.stats {
  margin: 20px;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent for contrast */
  border-radius: 15px;
  box-shadow: 0 8px 20px white;
  display: inline-block;
  min-width: 200px;
  transition: transform 0.3s, background 0.3s;
}

.stats:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.15); /* slightly brighter on hover */
}

.stats p{
font-size:18px;
margin:10px;
}

.activity-section{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:25px;
}

.activity-card img{
  width:90px;
  height:90px;
  object-fit:contain;
}
.activity-card{
  background: rgba(255,255,255,0.08);
  padding:20px;
  border-radius:12px;
  text-align:center;
  cursor:pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.activity-card:hover{
  transform: translateY(-6px);
  box-shadow:0 8px 20px rgba(0,0,0,0.4);
}
.task-title{
  text-align:center;
  margin-top:40px;
  color:white;
}
.task-container{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:20px;
  flex-wrap:wrap;
}

.task-btn{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  background:#ebd3e6;
  color:rgb(10, 9, 9);
  font-size:14px;
  cursor:pointer;
  transition:transform 0.2s, box-shadow 0.2s;
}

.task-btn:hover{
  transform:translateY(-3px);
  box-shadow:0 6px 15px rgba(0,0,0,0.3);
}
/* Popup background */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

/* Popup content box */

.popup-content {
  background: rgb(148, 190, 241);
  width: 60%;
  max-height: 70%;
  overflow-y: auto;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

/* Close button */

#closeArticle {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}